backend/.bundle
backend/log/*
backend!/log/.keep
backend/tmp
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.gulp
.lock-wscript
build/Release
.node_repl_history
.idea
node_modules
.npm
jspm_packages
npm-debug.*
link-checker-results.txt
frontend/app/**/*.js
*.js.map
frontend/e2e/**/*.js
frontend/e2e/**/*.js.map
database.yml
_test-output
_temp
*.swp
.env
